services:
  adguard:
    image: adguard/adguardhome:latest
    container_name: adguard
    restart: unless-stopped
    networks:
      - proxy
    ports:
      - "53:53/tcp"
      - "53:53/udp"
    volumes:
      - /storage/adguard/work:/opt/adguardhome/work
      - /storage/adguard/conf:/opt/adguardhome/conf
    labels:
      - "traefik.enable=true"
      
      ## 1. THE SETUP ROUTER (Port 3000)
      # Access this ONLY for the initial wizard
      - "traefik.http.routers.adguard-setup.rule=Host(`dns-init.home.alsharafi.dev`)"
      - "traefik.http.routers.adguard-setup.service=adguard-init"
      - "traefik.http.services.adguard-init.loadbalancer.server.port=3000"
      - "traefik.http.routers.adguard-setup.middlewares=auth@file"

      ## 2. THE MAIN ROUTER (Port 80)
      # Access this for the Dashboard after setup
      - "traefik.http.routers.adguard.rule=Host(`dns.home.alsharafi.dev`)"
      - "traefik.http.routers.adguard.service=adguard"
      - "traefik.http.services.adguard.loadbalancer.server.port=80"

networks:
  proxy:
    external: true