services:
  omni-tools:
    image: iib0011/omni-tools:latest
    container_name: omni-tools
    restart: unless-stopped
    networks:
      - proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.omni-tools.rule=Host(`tools.home.alsharafi.dev`)"
      - "traefik.http.routers.omni-tools.middlewares=auth@file"

networks:
  proxy:
    external: true